
<a class="btn btn-primary" asp-controller="News" asp-action="NasaPOTD" asp-route-date="@DateTime.Now">NASA Picture Of The Day</a>
<a class="btn btn-primary" asp-controller="News" asp-action="ViewPreviousEvents">View Previous Events</a>
<a class="btn btn-primary" asp-controller="News" asp-action="ViewUpcomingEvents">View Upcoming Events</a>