@model Week15Project.Models.Post

@{
    ViewData["Title"] = "EditPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>EditPost</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPost">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="PostId" class="control-label"></label>
                <input asp-for="PostId" class="form-control" />
                <span asp-validation-for="PostId" class="text-danger"></span>
            </div>*@
            <input asp-for="PostId" hidden />
            @*<div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>*@
            <input asp-for="UserId" hidden />
            @*<div class="form-group">
                <label asp-for="RoomId" class="control-label"></label>
                <input asp-for="RoomId" class="form-control" />
                <span asp-validation-for="RoomId" class="text-danger"></span>
            </div>*@
            <input asp-for="RoomId" hidden />
            @*<div class="form-group">
                <label asp-for="DatePosted" class="control-label"></label>
                <input asp-for="DatePosted" class="form-control" />
                <span asp-validation-for="DatePosted" class="text-danger"></span>
            </div>*@
            <input asp-for="DatePosted" hidden />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserImage" class="control-label"></label>
                <input asp-for="UserImage" class="form-control" />
                <span asp-validation-for="UserImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebURL" class="control-label"></label>
                <input asp-for="WebURL" class="form-control" />
                <span asp-validation-for="WebURL" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="EventId" class="control-label"></label>
                <input asp-for="EventId" class="form-control" />
                <span asp-validation-for="EventId" class="text-danger"></span>
            </div>*@
            <input asp-for="EventId" hidden />
            @*<div class="form-group">
                <label asp-for="POTDDate" class="control-label"></label>
                <input asp-for="POTDDate" class="form-control" />
                <span asp-validation-for="POTDDate" class="text-danger"></span>
            </div>*@
            <input asp-for="POTDDate" hidden />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

