@model Week15Project.Models.Post

@{
    ViewData["Title"] = "NewPost";
}



<div class="container">
    <div class="row justify-content-center">
        <h1 class="display-3 text-center">New Post</h1>
    <div class="col-md-8">
        <form asp-controller="Forum" asp-action="NewPost">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="RoomId" class ="form-control" value="@Model.RoomId" hidden/>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebURL" class="control-label">Web Link</label>
                <input asp-for="WebURL" class="form-control" />
                <span asp-validation-for="WebURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <textarea asp-for="Message" class="form-control" rows="10"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Submit" class="btn btn-primary" />
                <a class="btn btn-danger" asp-action="ViewRoom" asp-controller="Forum" asp-route-roomId="@Model.RoomId">Cancel</a>
            </div>
        </form>
    </div>
</div>
</div>