@model IEnumerable<Room>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    @foreach (var item in Model)
    {
        <div class="row justify-content-center mt-3 mb-3">
            <div class="col-12">
                <div class="room_banner m-auto">
                    <img src="/images/@item.RoomImage" alt="Avatar" class="banner_image">
                    <div class="banner_overlay">
                        <div class="banner_text">
                            <h1 class="display-6 mx-auto"><strong>@item.RoomName</strong></h1>
                            <h6 class="lead">@item.RoomDescription</h6>
                            <a class="btn btn-primary" asp-controller="Forum" asp-action="ViewRoom" asp-route-roomId="@item.RoomId">Enter</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<style>
    .room_banner{
        position: relative;
        width: 75%;
    }
    .banner_image {
        display: block;
        width: 100%;
        height: auto;
    }
    .banner_overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgb(23,25,25,0.5);
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .5s ease;
    }

    .room_banner:hover .banner_overlay {
        height: 100%;
    }

    .banner_text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
</style>