@model IEnumerable<Room>

@{
    ViewData["Title"] = "Index";
}

<h1>View All Current Rooms</h1>

<div class="container">
    <div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 mb-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">@item.RoomName</h3>
                    <p class="card-text">@item.RoomDescription</p>
                    <p class="card-text">Posts: @item.Posts.Count</p>
                    <a class="btn btn-primary stretched-link" asp-controller="Forum" asp-action="ViewRoom" asp-route-roomId="@item.RoomId">View Room</a>
                </div> 
            </div>
        </div>
    }
</div>
</div>

<div class="container">

</div>
